/* Global */
textarea {
    min-height: 400px;
}

/* Email preview list */
.email-preview-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.email-preview-item {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    border: 1px solid #000000;

    cursor: pointer;
}

.email-preview-item--read {
    background-color: #e5e5e5;
}

/* Email */
.email {
    padding: 10px;
    background-color: #e5e5e5;
}

.email__subject {
    margin-bottom: 20px;
}

.email__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.email__sender span,
.email__recipients span {
    font-weight: 500;
}
