{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create a New Encyclopedia Page</h1>
    <form action="{% url 'encyclopedia:create' %}" method="post" class="create-form">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label class="mb-2" for="{{ field.id_for_label }}">
                    {{ field.label }}{% if field.field.required %}*{% endif %}
                  </label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Page</button>
    </form>
{% endblock %}