{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <form action="{% url 'encyclopedia:edit' title %}" method="post" class="create-form">
        {% csrf_token %}
        <div class="mb-3">
            <label class="mb-2" for="{{ form.content.id_for_label }}">Content*</label>
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Edit Page</button>
    </form>
{% endblock %}