<table class="table table-sm">
    <thead>

        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>h</th>
            <th>e</th>
            <th>y</th>
        </tr>

        <tr>
            <th></th>
            <th></th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>

    </thead>
    <tbody>

        <tr>
            <th></th>
            <th>0</th>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>

        <tr>
            <th>h</th>
            <th>1</th>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
        </tr>

    </tbody>
</table>