{% extends "auctions/layout.html" %}

{% block body %}
    <main class="container">
        <form action="{% url 'create_listing' %}" method="post" class="form form--lot {% if form.errors %}form__item--invalid{% endif %}">
            <h2>Create a new listing</h2>

            {% csrf_token %}

            <div class="form__container">
                <div class="form__item">
                    <label for="{{ form.title.id_for_label }}">
                        {{ form.title.label }}{% if form.title.field.required %}*{% endif %}
                    </label>
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>
                <div class="form__item">
                    <label for="{{ form.category.id_for_label }}">
                        {{ form.category.label }}{% if form.category.field.required %}*{% endif %}
                    </label>
                    {{ form.category }}
                    {{ form.category.errors }}
                </div>
            </div>
            <div class="form__item">
                <label for="{{ form.description.id_for_label }}">
                    {{ form.description.label }}{% if form.description.field.required %}*{% endif %}
                </label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            <div class="form__container">
                <div class="form__item">
                    <label for="{{ form.image_url.id_for_label }}">
                        {{ form.image_url.label }}{% if form.image_url.field.required %}*{% endif %}
                    </label>
                    {{ form.image_url }}
                    {{ form.image_url.errors }}
                </div>
                <div class="form__item">
                    <label for="{{ form.starting_bid.id_for_label }}">
                        {{ form.starting_bid.label }}{% if form.starting_bid.field.required%}*{% endif %}
                    </label>
                    {{ form.starting_bid }}
                    {{ form.starting_bid.errors }}
                </div>
            </div>

            <button type="submit" class="button">Add listing</button>

            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </form>
    </main>
{% endblock %}