{% extends "auctions/layout.html" %}

{% block body %}
    <main class="container">
        <form action="" method="post" class="form form--lot">
            <h2>Create a new listing</h2>

            <div class="form__container">
                <div class="form__item ">
                    <label for="title">Name *</label>
                    <input id="title" type="text" name="title" placeholder="Enter lot name" value="">
                </div>
                <div class="form__item ">
                    <label for="category">Category *</label>
                    <select id="category" name="category">
                        <option>Boards</option>
                        <option>Attachment</option>
                        <option>Boots</option>
                        <option>Clothing</option>
                        <option>Tools</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="form__item ">
                <label for="description">Description *</label>
                <textarea id="description" name="description" placeholder="Write a description of the lot"></textarea>
            </div>
            <div class="form__item ">
                <label for="image">Image *</label>
                <div class="uploader">
                    <input class="uploader__input" id="image" type="file" name="image" tabindex="-1">
                    <button type="button" class="uploader__button">+</button>
                    <img class="uploader__image" src="" width="113" height="113">
                </div>
            </div>
            <div class="form__container">
                <div class="form__item ">
                    <label for="price">Starting price *</label>
                    <input id="price" type="number" name="price" placeholder="0" value="0">
                </div>
                <div class="form__item ">
                    <label for="step">Bet step *</label>
                    <input id="step" type="number" name="step" placeholder="0" value="0">
                </div>
                <div class="form__item ">
                    <label for="endDate">End date of auction *</label>
                    <input id="endDate" type="text" name="endDate" placeholder="Please enter a date" value=""
                        class="flatpickr-input" readonly="readonly">
                </div>
            </div>

            <button type="submit" class="button">Add lot</button>
        </form>
    </main>
{% endblock %}