{% extends "auctions/layout.html" %}
{% load auctions_extras %}

{% block body %}
    <main class="container">
        <section class="promo">
            <h2 class="promo__title">Need staff for the skating rink?</h2>
            <p class="promo__text">In our online auction you will find the most exclusive snowboard and ski equipment.</p>
            <ul class="promo__list">

                {% for category in categories %}
                    <li class="promo__item promo__item--{{ category.name | lower }}">
                        {% comment %} TODO: url 'category' category.name {% endcomment %}
                        <a class="promo__link" href="{{ category.id }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="lots">
            <div class="lots__header">
                <h2>Active Listings</h2>
            </div>
            <ul class="lots__list">
                {% for listing in listings %}
                    {% comment %} TODO: include card {% endcomment %}
                    <li class="lot lots__item">
                        <div class="lot__image">
                            <a href="{% url 'listing' listing.id %}">
                                <img src="{{ listing.image_url }}" width="350" height="260" alt="{{ listing.title }}">
                            </a>
                        </div>
                        <div class="lot__info">
                            <span class="lot__category">{{ listing.category }}</span>
                            <h3 class="lot__title">
                                <a class="text-link" href="{% url 'listing' listing.id %}">
                                    {{ listing.title }}
                                </a>
                            </h3>
                            <div class="lot__state">
                                <div class="lot__rate">
                                    {% comment %} TODO: use current price {% endcomment %}
                                    <span class="lot__amount">Price</span>
                                    <span class="lot__cost">{{ listing.start_bid | usd}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}