{% extends "auctions/layout.html" %}

{% block body %}
    <main>
        <section class="lot-item container">
            <h2>DC Ply Mens 2016/2017 Snowboard</h2>
            <div class="lot-item__content">
                <div class="lot-item__left">
                    <div class="lot-item__image">
                        <img src="/img/lot-2.jpg" width="730" height="548" alt="DC Ply Mens 2016/2017 Snowboard">
                    </div>
                    <p class="lot-item__category">
                        Category: <span>Boards</span>
                    </p>
                    <p class="lot-item__description">
                        The DC Ply Mens 2016/2017 Snowboard is a high-performance board that is designed for advanced
                        riders. It has a true twin shape and a medium flex, making it suitable for freestyle riding in the
                        park or on the mountain.
                    </p>
                </div>

                <div class="lot-item__right">
                    <div class="bet">
                        <div class="lot-item__timer timer">10:54:12</div>
                        <div class="lot-item__cost-state">
                            <div class="lot-item__rate">
                                <span class="lot-item__amount">Current price</span>
                                <span class="lot-item__cost">$1,59,999.00</span>
                            </div>
                            <div class="lot-item__min-cost">
                                Minimum step –&nbsp;<span>$100.00</span>
                            </div>
                        </div>

                        <form action="/lots/2" method="post" class="bet__form ">
                            <div class="bet__form-item ">
                                <label for="cost">Your bet</label>
                                <input id="lot_id" name="lotId" value="2" type="hidden">
                                <input id="cost" class="input-cost" type="number" name="price" placeholder="160099">
                                <span class="form__error form__error--bet"></span>
                            </div>
                            <button type="submit" class="button">Make a bet</button>
                        </form>
                    </div>


                    <div class="history">
                        <h3>History of rates (<span>0</span>)</h3>
                        <table class="history__list">

                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}