{% extends "auctions/layout.html" %}
{% load auctions_extras %}

{% block body %}
    <main>
        <section class="lot-item container">
            <h2>{{ listing.title }}</h2>

            <div class="lot-item__content">
                <div class="lot-item__left">
                    <img src="{{ listing.image_url }}" class="lot-item__image" width="730" height="548" alt="{{ listing.title }}" />

                    <div class="lot-item__row">
                        <p class="lot-item__category">
                            Category: <span>{{ listing.category }}</span>
                        </p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'toggle_watchlist' listing.id %}"
                                class="bookmark-button {% if listing.in_watchlist %}bookmark-button--active{% endif %}">
                                <svg class="bookmark-button__icon" width="31" height="33">
                                    <use xlink:href="#icon-bookmark"></use>
                                </svg>
                                <span class="visually-hidden">To bookmarks</span>
                            </a>
                        {% endif %}
                    </div>

                    <p class="lot-item__description">{{ listing.description }}</p>

                    <div class="lot-item__comments comments">
                        <h2>Comments</h2>

                        {% if user.is_authenticated and not is_creator %}
                            <form action="{% url 'listing' listing.id %}" method="post" class="comments__form">
                                {% csrf_token %}

                                <input type="hidden" name="form_type" value="comment">

                                {% for field in form_comment%}
                                    <div class="form__item">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}{% if field.field.required %}*{% endif %}
                                        </label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="button">Add comment</button>
                            </form>
                        {% endif %}

                        <ul class="comment__list">
                            {% for comment in comments %}
                                <li class="comment__item">
                                    <div class="comment__sender">{{ comment.user.username }}</div>
                                    <p class="comment__text">{{ comment.text }}<</p>
                                    <time class="comment__time" datetime="{{ comment.created_at }}">{{ comment.created_at }}</time>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="lot-item__right">
                    <div class="bet">
                        <div class="lot-item__cost-state">
                            <div class="lot-item__rate">
                                <span class="lot-item__amount">Current price</span>
                                {% comment %} TODO: use current price {% endcomment %}
                                <span class="lot-item__cost">{{ listing.starting_bid | usd}}</span>
                            </div>
                        </div>

                        {% if user.is_authenticated and not is_creator %}
                            <form action="{% url 'listing' listing.id %}" method="post" class="bet__form">
                                {% csrf_token %}

                                <input type="hidden" name="form_type" value="bid">

                                {% for field in form_bid %}
                                    <div class="form__item">
                                        <label for="{{ field.id_for_label }}">
                                            {{ field.label }}{% if field.field.required %}*{% endif %}
                                        </label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="button">Place bid</button>
                            </form>
                        {% endif %}
                    </div>

                    <div class="history">
                        <h3>History of rates (<span>0</span>)</h3>
                        <table class="history__list">
                            {% for bid in bids %}
                                <tr class="history__item">
                                    <td class="history__name">{{ bid.bidder.username }}</td>
                                    <td class="history__price">{{ bid.bid_amount | usd }}</td>
                                    <td class="history__time">{{ bid.bid_time }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}