{% extends "auctions/layout.html" %}

{% block body %}
    <main class="container">
        <form action="{% url 'register' %}" method="post" class="form form-login {% if form.errors %}form__item--invalid{% endif %}">
            <h2>Registering</h2>

            {% csrf_token %}

            {% for field in form %}
                <div class="form__item">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}{% if field.field.required %}*{% endif %}
                    </label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <button type="submit" class="button">Register</button>

            {% if message %}
                <p>{{ message }}</p>
            {% endif %}

            <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
        </form>
    </main>
{% endblock %}