<table class="table table-sm">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for character in s2 %}
                <th>{{ character }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% for cell in matrix[0] %}
                <th>{{ loop.index0 }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th>0</th>
            {% for cost, _ in matrix[0] %}
                <td>{{ cost }}</td>
            {% endfor %}
        </tr>

        {% for character in s1 %}
            <tr>
                <th>{{ character}}</th>
                <th>{{ loop.index }}</th>
                {% for cell, _ in matrix[loop.index] %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>