/* Fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: hidden;
}

/* Remove padding within column */
div.col
{
    padding-left: 0;
    padding-right: 0;
}

/* Add padding around form */
form
{
    padding: 15px;
}

/* Wrap and scroll preformatted text */
pre
{
    height: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}

/* right-align leftmost column in matrix */
.matrix.row:first-of-type td:first-child,
.matrix.row:first-of-type th:first-child
{
    text-align: right;
}

/* Don't wrap rows in log */
th
{
    white-space: nowrap;
}

span.badge
{
    margin-left: 15px;
}

/* Highlight spans */
span.deleted
{
    background-color: #f00;
}
span.inserted
{
    background-color: #0f0;
}
span.substituted
{
    background-color: #ff0;
}
